version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: shareit-postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=shareit
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    restart: unless-stopped